

        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <h2 class="icon icon-home">All Categories</h2>
                <ul>
                    <li class="icon icon-arrow-left">
                        <a class="icon icon-stack" href="#">DevOps</a>
                        <div class="mp-level">
                            <h2 class="icon icon-stack">DevOps</h2>
                            <ul>
                                <li class="icon icon-arrow-left">
                                    <a class="icon icon-kubernetes" href="#">Kubernetes</a>
                                    <div class="mp-level">
                                        <h2>Introduction</h2>
                                        <ul>
                                            <li><a href="#">Namespace</a></li>
                                            <li><a href="#">Pod</a></li>
                                            <li><a href="#">Service</a></li>
                                            <li><a href="#">Statefulset</a></li>
                                            <li><a href="#">Ingress</a></li>
                                            <li><a href="#">ConfigMap</a></li>
                                            <li><a href="#">Internal DNS</a></li>
                                            <li><a href="#">External DNS</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /mp-menu -->
