html, body {
    width     : 100%;
    min-height: 100vh;
    padding   : 0;
    margin    : 0;
    overflow-x: hidden;
}

body.layout-home,
body.layout-home header.navbar {
    background-color: #1a1a1a;
}

header {
    width: 100%;
}


.main-container {
    width     : 100%;
    min-height: 100vh;
    display   : -webkit-inline-box !important;
    display   : -ms-inline-flexbox !important;
    display   : inline-flex !important;
}

.main-content {
    width     : 100%;
    padding   : .75rem 1rem;
}

@import 'highlight';
@import 'icons';
@import 'shapes';
@import '_components/navbar';
@import '_components/sidebar';
