/*
Project Name: Symbol
Description: Pure CSS font #3
Author: @c4rin3
Author URI: http://c4rin3.vituelles.fr
*/
  .letter-wrapper {
    width     : 100%;
    height    : 100%;
    font-size : 3px;
    color     : white;
    text-align: center;
    max-width : 379px;
    max-height: 365px;
    min-width : 300px;
    min-height: 226px;
    padding   : 0 10em 0 10em;
    margin-top: -29em;
  }

  .letter-wrapper p {
    display: none;
  }
  
  /* ELEMENTS
  -------------------------------------------------- */
  .element {
    width   : 6em;
    height  : 6em;
    position: relative;
    margin  : 3em;
    display : inline-block;
  }
  
  /* SEMI-CIRCLE STROKE
  -------------------------------------------------- */
  .element.semi-circle:after {
    content   : "";
    position  : absolute;
    border    : 0.8em solid;
    background: none;
  }
  /* -- SEMI-CIRCLE PLAIN -- */
  .semi-circle.plain:after {
    background: white;
  }
  .semi-circle.top:after , .semi-circle.bottom:after {
    width : 100%;
    height: 50%;
  }
  .semi-circle.top:after {
    border-radius: 50% / 100% 100% 0 0;
    border-bottom: none;
    left         : 0;
  }
  .semi-circle.bottom:after {
    border-radius: 50% / 0 0 100% 100%;
    border-top   : none;
    bottom       : 0;
    left         : 0;
  }
  .semi-circle.left:after , .semi-circle.right:after {
    width : 50%;
    height: 100%;
  }
  .semi-circle.left:after {
    border-radius: 200% 0 0 200% / 100% 0 0 100%;
    border-right : none;
    left         : 0;
  }
  .semi-circle.right:after {
    border-radius: 0 200% 200% 0 / 0 100% 100% 0;
    border-left  : none;
    right        : 0;
  }
  /* Lines
  -------------------------------------------------- */
  .element.line {
    height:0;
  }
  .element.line:after {
    content   : "";
    position  : absolute;
    border-top: 0.4em solid;
    width     : 100%;
    top       : 0;
    left      : 0;
  }
  /* line vertical */
  .element.line.vertical {
    width: 0;
  }
  .line.vertical:after {
    content    : "";
    position   : absolute;
    border-top : none;
    border-left: 0.4em solid;
    height     : 100%;
  }

  /* ANIMATION
  -------------------------------------------------- */
  .letter .element {
    transition: all 1s ease-in-out;
  }
  .letter .element{
    animation-duration       : 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .letter .semi-circle{
    animation-name: rotation-left;
    animation-iteration-count: 1
  }
  .letter .line{
    animation-name: drawline;
    animation-iteration-count: 1
  }
  .letter .line.vertical{
    animation-name: drawlinevert;
    animation-iteration-count: 1
  }
  .letter .electron {
    animation-duration: 100s;
  }
  
  .letter.M :nth-child(2),
  .letter.M :nth-child(9),
  .letter.M :nth-child(5),
  .letter.M :nth-child(6),
  .letter.M :nth-child(11),
  .letter.M :nth-child(12),
  .letter.M :nth-child(16)
  {
    animation-name: rotation-right;
  }

  .letter.M .electron
  {
    animation-duration       : 50s,10s;
    animation-iteration-count: infinite,infinite;
    animation-timing-function: ease-in-out,ease-in-out;
    animation-name           : move-electron-down,glow-electron;
  }
  .letter.M .electron.center
  {
    animation-duration       : 5s,10s;
    animation-name           : move-electron-up,destroy-electron;
    animation-delay          : 2s;
  }
  .letter.M .electron.right
  {
    animation-delay: 2s;
  }
  
  
  .letter.M :nth-child(2),
  .letter.M :nth-child(9),
  .letter.M :nth-child(5),
  .letter.M :nth-child(6),
  .letter.M :nth-child(11),
  .letter.M :nth-child(12),
  .letter.M :nth-child(16)
  {
    color: #00adff;
  }

  /* ELEMENTS ANIMATION
  -------------------------------------------------- */
  @keyframes rotation-right {
    0%  { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
    100%{ transform: rotate(360deg); }
  }
  @keyframes rotation-left {
    0%  { transform: rotate(0deg); }
    50% { transform: rotate(-360deg); }
    100%{ transform: rotate(-360deg); }
  }
  
  @keyframes drawline {
    0%  { transform: scaleX(1); }
    25% { transform: scaleX(0); }
    50% { transform: scaleX(-1); }
    100%{ transform: scaleX(-1); }
  }

  @keyframes drawlinevert {
    0%  { transform: scaleY(1); }
    25% { transform: scaleY(0); }
    50% { transform: scaleY(-1); }
    100%{ transform: scaleY(-1); }
  }
  @keyframes move-electron-down {
    0%  { top: 9em; }
    50% { top: calc(100% - 9em); }
  }
  @keyframes move-electron-up {
    0%   { top: calc(50% - 6em); }
    100% { top: 13em; }
  }
  @keyframes glow-electron {
    0%  { background-color: yellow; box-shadow: 0 0 10px orange; border-color: orange; }
    50% { background-color: orange; box-shadow: 0 0 4px  yellow; border-color: yellow; }
    100%{ background-color: yellow; box-shadow: 0 0 10px orange; border-color: orange; }
  }
  @keyframes destroy-electron {
    0%   { background-color: yellow;    box-shadow: 0 0 10px orange; border-color: orange; }
    50%  { background-color: transparent; box-shadow: 0 0 0 transparent;  border-color: transparent; }
    100% { background-color: transparent; box-shadow: 0 0 0 transparent;  border-color: transparent; }
  }

  /* LETTERS SPEC.
  -------------------------------------------------- */
  .letter {
    width      : 100%;
    height     : 100%;
    font-weight: bold;
    position   : relative;
    display    : inline-block;
  }
  .word .letter {
    margin: 6em;
  }
  .letter:hover {
    cursor: pointer;
  }
  .letter .element {
    margin  : 0;
    position: absolute;
    border  : none;
  }

  /* M
  -------------------------------------------------- */
  $letter_m_size_lg: 20em;
  $letter_m_size_sm: 14em;

  .letter.M :nth-child(2){
    width : $letter_m_size_lg;
    height: $letter_m_size_lg;
    top   : 0em;
    left  : 0em;
  }
  .letter.M :nth-child(3){
    width  : $letter_m_size_lg;
    height : $letter_m_size_lg;
    bottom : 0em;
    left   : 0em;
  }
  .letter.M :nth-child(4),
  .letter.M :nth-child(6){
    width  : $letter_m_size_sm;
    height : $letter_m_size_sm;
    top    : 3em;
    left   : 3em;
  }


  .letter.M :nth-child(5),
  .letter.M :nth-child(7){
    width  : $letter_m_size_sm;
    height : $letter_m_size_sm;
    bottom : 3em;
    left   : 3em;
  }
  
  .letter.M :nth-child(8){
    width  : $letter_m_size_lg;
    height : $letter_m_size_lg;
    top    : 0em;
    right  : 0em;
  }
  .letter.M :nth-child(9){
    width  : $letter_m_size_lg;
    height : $letter_m_size_lg;
    bottom : 0em;
    right  : 0em;
  }
  .letter.M :nth-child(10),
  .letter.M :nth-child(12){
    width  : $letter_m_size_sm;
    height : $letter_m_size_sm;
    top    : 3em;
    right  : 3em;
  }
  .letter.M :nth-child(11),
  .letter.M :nth-child(13){
    width  : $letter_m_size_sm;
    height : $letter_m_size_sm;
    bottom : 3em;
    right  : 3em;
  }

  /* M - Middle */
  .letter.M :nth-child(14){
    width  : $letter_m_size_lg;
    height : $letter_m_size_lg;
    top    : calc(50% - 15em);
    margin : 0 0em 0 -10em;
  }

  .letter.M :nth-child(15) {
    color: #fe69d0;
  }

  .letter.M :nth-child(15),
  .letter.M :nth-child(16) {
    width  : $letter_m_size_sm;
    height : $letter_m_size_sm;
    top    : calc(50% - 16em);
    margin : 4em 0em 0 -7em;
  }

  /* Lines */
  .letter.M .line.vertical.left {
    height : calc(100% - 18em);
    top    : 9em;
    left   : 10em;
  }
  .letter.M .line.vertical.center {
    height     : calc(50% - 19em);
    left       : unset;
    top        : $letter_m_size_sm;
    position   : relative;
  }
  .letter.M .line.vertical.right {
    height : calc(100% - 18em);
    top    : 9em;
    right  : 10em;
    left   : unset;
    width  : unset;
  }

  /* Electrons */
  .letter.M .electron {
    width           : 5px;
    height          : 5px;
    background-color: yellow;
    border-radius   : 50%;
    border-color    : orange;
    box-shadow      : 0 0 10px orange;
  }
  .letter.M .electron.left {
    left            : 9.4em;
    top             : 9em;
  }
  .letter.M .electron.center {
    top : calc(50% - 6em);
    left: calc(50% - 2px);
  }
  .letter.M .electron.right {
    right           : 8.9em;
    top             : 9em;
  }