html.layout-home body.ui-fw-bootstrap {
  .navbar .nav-link {
    color: white;

    &.disabled {
      color: rgba(255,255,255,.25);
    }
  }

  @media (max-width: 255px) {
    .navbar .nav-link span {
        display: none;
    }
  }
}

body.ui-fw-bootstrap {
  nav.navbar {
    width: 100%;
  }

  nav.navbar .navbar-brand > i + span {
    margin-left: .5rem;
  }

  nav.navbar .nav-link > i + span {
    margin-left: .5rem;
  }
}