body.ui-fw-bootstrap {
    nav.sidebar-ext {
        max-width       : 100%;
        min-height      : 100%;
        background-color: #F4F5F7;
    }

    nav.sidebar-ext .sidebar-container {
        width : 100%;
        height: 100%;
    }

    nav.sidebar-ext .card {
        border-radius: 0;
    }

    nav.sidebar-ext ul.list-group {
        list-style: none;
    }

    nav.sidebar-ext ul.list-group .list-group-item {
        padding     : .75rem 1.15rem;
        border-left : 0;
        border-right: 0;
    }

    nav.sidebar-ext ul.list-group .list-group-item-container + .list-group-item-container > .list-group-item {
        border-top: 0;
    }

    nav.sidebar-ext ul.list-group .list-group-item,
    nav.sidebar-ext ul.list-group .list-group-item:first-child,
    nav.sidebar-ext ul.list-group .list-group-item:last-child {
        min-width    : 15rem;
        cursor       : pointer;
        border-radius: 0;
    }

    nav.sidebar-ext ul.list-group a.list-group-item,
    nav.sidebar-ext ul.list-group a.list-group-item:hover,
    nav.sidebar-ext ul.list-group a.list-group-item:active,
    nav.sidebar-ext ul.list-group a.list-group-item:visited {
        display        : block;
        width          : 100%;
        color          : #495057;
        text-decoration: none;
    }

    nav.sidebar-ext ul.list-group a.list-group-item.active {
        background-color: white;
        color           : #007bff;
        border-color    : rgba(0,0,0,.125);
    }

    nav.sidebar-ext ul.list-group a.list-group-item:hover,
    nav.sidebar-ext ul.list-group a.list-group-item.active:hover {
        background-color: rgb(235, 236, 240);
    }

    nav.sidebar-ext ul.list-group .list-group-item.disabled > i {
        color: #a7a7a7;
    }

    nav.sidebar-ext ul.list-group .list-group-item i {
        margin-right: .75rem;
    }

    nav.sidebar-ext ul.list-group .list-group-item .title {
        white-space: nowrap;
        width      : auto;
    }

    nav.sidebar-ext ul.list-group ul.list-group {
        padding-left: .25rem;
    }

    nav.sidebar-ext ul.list-group ul.list-group.expand {
        display: block;
    }

    nav.sidebar-ext ul.list-group ul.list-group.collapse {
        display: none;
    }

    nav.sidebar-ext ul.list-group ul.list-group ul.list-group {
        padding-left: 1.25rem;
    }

    nav.sidebar-ext ul.list-group ul.list-group li:first-child {
        border-top: 1px solid gray;
    }

    nav.sidebar-ext ul.list-group ul.list-group .list-group-item {
        border : 0;
        padding: .5rem 1.25rem;
    }

    nav.sidebar-ext ul.list-group ul.list-group i {
        font-size     : .25rem;
        text-align    : center;
        vertical-align: middle;
    }

    nav.sidebar-ext ul.list-group ul.list-group .has-children i {
        font-size: .5rem;
    }

    /* Quicknav */
    .sidebar-container .nav-min {
        min-width: 3.45rem;
    }

    nav.sidebar-ext .nav-min ul.list-group .list-group-item-container,
    nav.sidebar-ext .nav-min ul.list-group .list-group-item-container,
    nav.sidebar-ext .nav-min ul.list-group i,
    nav.sidebar-ext .nav-min ul.list-group a.list-group-item,
    nav.sidebar-ext .nav-min ul.list-group a.list-group-item:hover,
    nav.sidebar-ext .nav-min ul.list-group a.list-group-item:visited,
    nav.sidebar-ext .nav-min ul.list-group a.list-group-item:active {
        min-width   : unset;
        width       : 100%;
        margin-right: unset;
    }

    @media (max-width: 768px) {
        nav.sidebar-ext .nav-max {
            width: 100vw;
        }
    }
}