<!DOCTYPE html>
<html class="layout-home" lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
	<body class="ui-fw-{{ site.ui.framework.name }} icons-{{ site.ui.icons.name }}">
    {%- include home/{{ site.ui.framework.name }}/header.html -%}
		<div class="main-container">
			<div class="main-content d-flex justify-content-center align-items-center">
        <div class="intro">
          <p class="heading">
            Hello, I'm <span class="name">Matt McCarty</span>.
          </p>
          <p class="body">
            Software Architect &amp; DevOps <span class="title">Engineer</span>.
          </p>
        </div>
			</div>
    </div>
    {%- include footer.html -%}
	</body>
</html>