<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="sidenav-container">
        <!-- Push Wrapper -->
        <div class="mp-pusher" id="mp-pusher">
            {%- include sidenav.html -%}

            <div class="scroller"><!-- this is for emulating position fixed of the nav -->
                <div class="scroller-inner">
                    <!-- Top Navigation -->
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="#" id="sidenav-trigger" class="menu-trigger">
                            <i class="fas fa-bars"></i>
                        </a>
                    </nav>
                    {{ content }}
                </div><!-- /scroller-inner -->
            </div><!-- /scroller -->

        </div><!-- /pusher -->
    </div><!-- /container -->

    {%- include footer.html -%}

</body>
<script src="assets/js/classie.js"></script>
<script src="assets/js/mlpushmenu.js"></script>
<script>
new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'sidenav-trigger' ) );
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>